.form.form-details {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.form-group.form-group-details {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
}

.latex {
}

.jumbotron {
  width: 100%;
}
